<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    
    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
       
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="css/styles.css">
    <style>
        body{
            background-color: #434E5E !important;
        }
    </style>
</head>

<body >
    <div class="card-container">
            <h2>Please enter your details to view my portifolio</h2>
    <div class="card-login">
        <form action="/login" method="POST">
            <input class="form-control" type="text" name="name" id="name" placeholder="name" />
            <input class="form-control" type="text" name="email" id="email" placeholder="abc@abc.com" />
            <input class="btn" type="submit" id="submit" name="submit">
        </form>
    </div>
</div>
</body>

</html>